body{
    margin: 25% 25% 25% 25%;
}

#screen
{
    width: 80%;
    height: 80px;
    border-style: solid;
    text-align: right;
    font-size: 25px;
    margin-bottom: 5px;
    border-style: solid;
    background-color:bisque;
    border-radius: 10px;
    border-width:0.1px;
}

button{
    height: 30px;
    margin: 2px 3px 2px 2px;
    padding: 3% 3% 3% 3%;
    justify-content: center;
    align-items:center;
    border-radius:5px;
    border-width: 0.1px;
}

button:hover{
    background-color: lightgray;
}

#other-commands{
    width: 80%;
    height: auto;
    float:center;
    background-color:lightgray;
    margin-bottom: 2px;
}

/* Special Section */
#special{
    display:flex;
    align-content: center;
    width:100%;
    padding-left:4px;
}

#special button{
    width: 18%;
    height: auto;
    margin: 2px 3px 2px 2px;
    padding: 3% 3% 3% 3%;
}

/* Conversion Section */
#conversion 
{
    padding-left:2px;
}

#conversion button{
    font-size: 11px;
    padding: 1% 0% 1% 0%;
    width: 16%;
    margin-left:4px;
}

/*Number and General Calculation Section */
#down{
    display:flex;
    width: 80%;
    height: auto;
    float:center;
    background-color:lightgray;
}


/* Number Buttons */
#numbers{
    border-radius:5px;
    border-style: dashed;
    border-color:white;
    display: block;
    width: 60%;
    margin-right: 2px;
}

#numbers button{
    width: 28%;
    margin-left:4px;
}
/* General Calculation Buttons */
#general-c{
    float: center;
    width: 15%;
}

#general-c button{
    width: 80%;
    margin-left:3px;
}

/* Equal and Clear Buttons */
#equal{
    margin-left: 3px;
    display:block;
    float: right;
    width: 20%;
    border-style: dashed;
    border-color:white;
    padding-left:5px;
}

#equal button{
    width:90%;
}

#eq{
    margin-top: 70px;
}