html{
    background-color:green;
}

body{
    float:center;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1{
    color:rgb(131, 112, 6);
    padding-top:50px;
}

p{
    color:white;
    font-style:italic;
}

#game-el{
    background-color:gold;
    color:green;
    border-style: none;
    font-weight:bold;
    margin-top: 10px;
}