html {
  font-size: 100.01%;
}
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
hr,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfont,
thead,
tr,
th,
td {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-family: inherit;
  font-size: 100%;
}
dfn,
i,
cite,
var,
address,
em {
  font-style: normal;
}
th,
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
textarea,
input,
select {
  font-family: inherit;
  font-size: 1em;
}
blockquote,
q {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
ol,
ul {
  list-style: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
}
:focus {
  outline: none;
}

html,
body {
  height: 100%;
  width:100%;
}

body {
  font: 0.8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #000000;
  min-width:600px;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

/* For other screen sizes */
@media (max-width: 900px) {
  #low-items { 
    grid-template-columns: repeat(2, 1fr); 
  }

  #communicate1 {
  display: inline-block;
  width:70%; 
  margin: 15% 15%;
}

  #communicate1 img {
    width: 80%;
    height: auto;
    margin: -2% 0%;
    object-fit: cover;
    overflow: none;
    padding-top:30px;
}

.show
{
  display: none;
}

.sidebar{
  display:block;
}

.hbar .menu-button {
  display: block;
  align-content:center;
}
}

@media (max-width: 600px) {
  #low-items { grid-template-columns: 1fr; }

#communicate1 {
  width:70%; 
  display:inline;
  margin: 15% 15%;
}

  #communicate1 img {
    width: 80%;
    height: auto;
    object-fit: cover;
    overflow: none;
    padding-top:30px;
}

.show
{
  display: none;
}

.sidebar{
  width:100%;
}

.menu-button{
  display:block;
}
}
/*---------------------Start Here---------------*/

/*Header Section*/
header {
background-color: rgb(39, 38, 38);
height:45px;
position:fixed;/* Fix the header position */
z-index: 1000;/* Ensure it stays on top */
top:0;/* Stick to the top */
width:100%;
}

/*Header Left Div*/
header #left {
  float: left;
  margin-left:5px;
  color: rgb(145, 133, 133);
  font-size: 12px;
} 

header #left img {
  width: 90px;
  height: 20px;
  /* vertical-align: middle; */
  margin-right: 10px;
  padding: 10px 5px;
} 

header #left span {
  /* vertical-align: middle; */
  background-color: rgb(29, 28, 28);
  padding: 12px 25px 13px 15px;
  margin: 0 0;
  border: rgb(145, 133, 133) solid 1px;
  position:absolute;
}

/*Header Right Div*/
header #right {
  float: right;
  /* color: rgb(145, 133, 133); */
  /* font-size: 12px; */
}

header #right img {
  width: 20px;
  vertical-align: middle;
  padding: 12px 8px 13px 8px;
  border-width: 0.5px;
  /* filter:invert(100) */
}

.margin {
    border-left:solid rgb(80, 78, 78);
}

#green {
  background-color: rgb(106, 240, 106);
}

/*Nav Section*/
nav {
  width: 100%;
  position: fixed; /* Fix the nav position */
  justify-items: center;
  top: 40px; /* Position it below the header */
  z-index: 999; /* Ensure it stays on top */
  background-color: white;
  box-shadow: 3px 3px 5px 5px #ccc(0, 0, 0, 0.1);
  /* padding: 0 15%; */
  /*border-style:solid;*/
}

nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  align-content:center;
  justify-content:center;
}

 nav li{
  height: 50px;
 }

  nav li:first-child {
        margin-right:auto;
      }

nav a {
  text-decoration: none;
  color: black;
  height: 100%;
  display: flex;
  padding: 10px 30px;
}

nav b, .hbar a:hover{
  color:  rgb(68, 117, 253);
}

.hbar{
width:70%;
} 

.show{
  align-content: center;
  justify-items:right;
  width: 60px;
  height:40px;
  text-align: right;
  text-wrap: nowrap;
  font-size: 10px;
  margin-right:1px;
}

.show button{
  margin-left:0px;
}

.hbar #imagine-logo {
  font-weight:500;
  font-size: 16px;
  letter-spacing: 1.5px;
  margin-right:auto;/*This send the box to the right */
}

.menu-button {
  display: none;
  align-content: center;
}

.about-us, .about-us2{
  display: flex;
  flex-direction: column;
  margin-top:-20px;
  background-color: white;
  margin-top: 0px;
  display:none;
  position:absolute;/*This ensure it displays over others*/
}

#shrink{
  width:3%;
  margin-left:-30px;
  margin-right:40px;
  margin-top:-5px;
  /* border-style: solid; */
  position:relative;
}

.about-us2{
  margin-left:-100px;
  width:15%;
  height: 300%;
  padding: 0 0;
}

nav button{
  border-style:none;
  background-color:white;
  position: inherit !important;
}


 /*Sidebar*/
 .sidebar{
  position:fixed;
  top: 0;
  right:0;
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  backdrop-filter: blur(10px);
  z-index:1001;
  box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content:flex-start;
  margin-top:45px;
  display:none;
 }

 .sidebar a{
  align-items:center;
  padding: 0px 20px;
  margin: 0 -20px 0 0;
 }

 #line{
  display: flex;
  align-items:center;
 }

 #line a{
  width:60px;
 }

 #line button, .show button{
  padding: 3px 7px;
  margin-top:-3px;
  background-color: none;
  justify-items:center;
  font-size:10px;
 }

 .sidebar .about-us{
  color:white;
 }

 .sidebar button{
  padding-left:20px;
  padding-top: 10px;
 }

 #go-left{
  margin-left: 150px;
  padding: 0 0 0 0;
 }

  .sidebar img:hover{
  filter: brightness(50%);/*makes the image darker */
 }

 .sidebar a:hover, nav button:hover, .about-us:hover, .about-us2:hover{
  color:rgb(68, 117, 253);
 }


 .sidebar li, .sidebar a{
  width:100%;
  padding-bottom:0;
  height: 40px;
 } 


/*Section Styles*/
section{
  height: 500px;
  justify-items: center;
  justify-content: center;
  max-width: 100%;
}

/*Section 1 */
#make-your {
  display: flex;
  /* border-style:solid; */
  margin: 100px 5% 100px 18%;
  height:500px;
}

/*Left side*/
#make-your #left{
  float:left;
  width:40% !important;
  align-content: center;
  text-align: left;
  /* border-style: solid; */
  margin-right:auto;
}

#make-your #bold {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

p{
  line-height: 17px;
}

#make-your p{
  font-size: 8px;
  margin-top: 15px;
}

#make-your button {
  background-color: rgb(66, 129, 224);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 8%;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
}

/*Right side*/
#make-your #right{
  float:right;
  width:80%;
  /* align-content: center; */
  margin-right:auto;
  margin-top: auto;
}

#make-your img {
  width:60% !important;
  height: 100%;
  object-fit: cover;
  overflow: visible;
  padding-top:30px;
  /* border-style: solid; */
  margin-top:auto;
  margin-bottom: auto;

}

/*Section 2 */
.center{
  text-align: center;
}

#bold {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.bold {
  font-weight: bold;
}

#imagine-features {
  display: flex;
  flex-direction: column;
  width:70%; 
  height: auto;
  /*border-style:solid;*/
}

p{
  font-size: 10px;
  line-height: 17px;
}

#alone{
  margin-bottom: 25px;
}

a{
  text-decoration: none;
  color: rgb(66, 129, 224);
}

#low-items{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  margin: 20px 0;
  /*border-style:solid;*/
}

#low-items div{
  box-sizing:border-box;
  margin: 30px 0;
  padding: 0px 20px 20px 20px;
  transition: transform 0.3s ease;
  background-color: #bbbbbb67;
  border-radius: 5px;
}

#low-items img{
  width:15px;
  height:15px;
  margin-top:-30px;
  background-color: rgb(66, 129, 224);
  padding: 20px 20px;
  border-radius: 50%;
}

#low-items div:hover{
  background-color:rgb(66, 129, 224);
  color:white;
  transform: translateY(-10px); /* moves the div 10px up */
}

#low-items div:hover a{
  color:white;
}

#low-items div:hover img{
  background-color:white;
  filter:sepia(20%);
}

/*Section 3 */
#communicate1, 
#communicate2, 
#communicate3, 
#communicate4,
#about-us,
.center {
  display: flex;
  padding: 0 15%;
  margin: 0% 0%;
  /*border-style:solid;*/
}

#image{
width:60%;
align-content: center;
padding-right:30px;
transform: translateX(-100%);
opacity: 0;
transition: transform 0.5s ease, opacity 0.5s ease;
}

#communicate1:hover #image,
#communicate1:hover #cofounder,
#communicate2:hover #image,
#communicate2:hover #cofounder,
#communicate3:hover #image,
#communicate3:hover #cofounder,
#communicate4:hover #image,
#communicate4:hover #cofounder,
#about-us #image
{
 transform: translateX(0);
  opacity: 1;
}

#text{
  width:40%;
  align-content: center;
  }

#image img {
  width: 100%;
  object-fit: cover;
  overflow:none;
}

#text b {
  display: block;
  font-size: 10px;
  margin: -40px 0px 0 50px;
}

#text img {
  width: 15%;
  object-fit: cover;
  padding-top:10px;
  overflow:none;
  border-radius: 50%;
}

#text p {
  font-size: 10px;
  line-height: 17px;
  margin-bottom:20px;
}

#cofounder{
border-left-color:aqua;
border-left-style:solid;
border-left-width:6px;
padding-left:15px;
box-shadow: #777 0px 0px 10px;
padding-bottom: 2px;
transform: translateX(200%);
opacity: 0;
transition: transform 0.5s ease, opacity 0.5s ease;
}

#cofounder p{
  margin:15px;
}

/*Section 4 */

/*Section 5 */

/*Section 6 */

/*Section 7 */
.aboutus {
background-color: #f0f0f0;
align-items: center;
}

.aboutus .top{
  height: 5%;
  align-items: center;/*vertical align*/
  display: flex;
  /* float:right;positions the box after use of flex if it fits */
  justify-content: center;/* moves the items in the box horizontally  */
  padding: 20px 0 0 0;
}

#about-us #text span{
  font-size: 15px;
}

#about-us button {
  background-color: rgb(66, 129, 224);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 8%;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
}

/*Section 8 */
.our-team{
  display:flex;
  flex-direction: column;
  height:auto;
  padding: 0 15%;
}

.our-team .top{
  height: 10%;
  align-items: center;/*vertical align*/
  flex-direction:column;
  /* float:right;positions the box after use of flex if it fits */
  justify-content: center;/* moves the items in the box horizontally  */
  padding:  30px 0;
  text-align: center;
}

.our-team .bottom{
  display: flex;
  flex-wrap:wrap;
  flex: 1 1 calc(33% 10px);
  justify-content:center;
}

.our-team .bottom .image{
  width:30%;
  margin: 0 18px 20px 0;
}

.our-team .bottom .image img{
  width:100%;
  height:auto;
}

.image-icon {
height:6%;
display:flex !important;
flex-direction: row !important;
flex-wrap:nowrap !important;
margin-top:-20px;
position: relative;
align-content: center;
justify-items: center;
justify-content:center;
background-color: aqua;
transform: translateY(100%);
opacity: 0;
transition: transform 0.5s ease, opacity 0.5s ease;
}

.image:hover .image-icon{
  transform: translateY(0) !important;
  opacity:1 !important;
}

.image-icon img{
  width:15px !important;
  height:auto;
  margin: 1px 5px;
}

#blue{
  color:aqua;
}

#noDisplay{
  display:none;
}

/*Section 9 */
#testimonials, #blog-posts{
  display:block;
  justify-content: center;
  align-content: center;
  height:auto;
  padding-top:40px;
}

#testimonials #mid-section{
display:flex;
position: relative; /*retains it normal position*/
width: 100%; /* adjust as needed */
height: auto;
overflow: hidden;
justify-content:center;
float:center;
}

#testimonials .slide{
  margin: 20px 0;
  width: 100%;
  display: none; /* hide all division initially */
  /*position: absolute;pulls the element out of normal flow*/
}

#testimonials .slide.active {
    display: block;
    }

#testimonials img{
  width:70px;
  height:70px;
  border-radius: 50%;
  margin: 15px 0;
}

#testimonials p{
  margin-bottom: 15px;
}

#testimonials b{
  font-weight: bold;
  font-size: 10px;
}

#testimonials .dot{
  border-radius: 50%;
  width:7px;
  height:7px;
  margin: 0 0;
  border-style:none;
  background-color: #ccc;
  display: inline-block;
  cursor: pointer;
}

#testimonials .dot.active {
    background-color: aqua;
    }


/*Section 10 */
#blog-posts{
  height:auto;
}

#lower-section{
  width: 100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:15px;
  margin: 30px 0;
  overflow: hidden;
}

#lower-section img{
width: 100%;
height: 100px;
display: block;
margin-bottom: 15px;
}

.separation{
  width: 100%;
  text-align: left;
  flex-wrap:wrap;
  margin-bottom: 30px;
}

.separation span{
  font-size: 15px;
}

.separation ul{
  display: flex;
  font-size: 70%;
  margin-top: 5px;
  text-align:left;
}

.separation li{
  padding-left: 10px;
  color:#777
}

.separation li:first-child{
  padding-left:0;
}

.separation p{
  flex-direction: wrap;
  margin: 15px 0 10px 0;
}

.separation b{
  font-size: 10px;
}

/*Section 11 */
#contact-form{
  /*border-style:solid;*/
  display:block;
  background-image: linear-gradient(to right, rgba(53, 160, 248, 0.555), rgba(82, 252, 147, 0.514)),url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%2Fid%2FOIP.1yZFj1LCfCNpy5UhTRAMgQHaFj%3Fpid%3DApi&f=1&ipt=98bd2da71c1d7694fa6060e449784cad5aabf2518047f47f26866641260ebed7&ipo=images");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;/*prevent it from scrolling it with the section*/
  justify-items: center;
  align-content: center;
  height:auto;
  padding: 40px 0;
}

#contact-form span{
  color:white;
  margin-bottom: 30px;
  /* /*border-style:solid;*/ */
}

form{
  width:35%;
  height:auto;
  /*border-style:solid;*/
  text-align: left;
  padding: 30px;
  margin: 30px 0;
  background-color: white;
}

legend{
  margin: 30px 0;
  /* /*border-style:solid;*/ */
}

label{
  font-size: 10px;
  display: flex;
  padding-bottom:5px;
}

input{
  margin-bottom:10px;
  border: 1px #ccc solid;
  height: 25px;
}

input:focus{
  border-color:aqua;
}

.name-section{
display:flex;
gap:20px;
width:auto;
}

.name-section div{
width:50%;
}

.name-section input{
width:100%;
}

input[type="email"],
input[id="subject"]{
  width:100%;
}

input[id="message"]{
  width:100%;
  height:140px;
}

input::placeholder{
  /* /*border-style:solid;*/ */
  position:relative;
  top:-60px;
  padding-left: 10px;
}

#contact-form button{
background-color:rgb(90, 144, 245);
color:white;
border-radius: 20px;
border: 5px solid rgb(90, 144, 245);
height:30px;
}

/*Footer Section*/
footer {
  clear: both;
  color: #777;
  padding: 10px 0;
}

.social-logo{
  height:auto;
  gap:25px;
  /*border-style:solid;*/
  display:flex;
  justify-content: center;
  padding: 20px 0;
}

.social-logo img{
  height:10px;
  width:10px;
}

footer .center{
  font-size: 10px;
  width: 100%;
  padding: 20px 0;
  justify-content: center;
}

