body {
        margin: 0;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        min-width:400px;/*Defines the minimum width*/
      }

main {
        width: 50%;
        height:auto;
      }

input {
        height: 40px;
        width:93%;
        padding: 0 10px;
        box-sizing: border-box;
        border: 1px solid #5f9431;
      }

button {
        background-color: #5f9431;
        width: 30%;
        margin-top: 3;
        padding: 10 0;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
        border: 1px solid #5f9431;
      }

#del-btn {
  color:#5f9431;
  background-color: white;
}

ul{
        text-align:left;
        list-style: none;
        padding-left: 0;
      }

li{
        text-decoration: none;
        margin-top: 5px;
      }

li a{
        font-size: 15px;
        color:#5f9431;
      }